
#question-paper{
    padding: 10px 0px;
}

.questionpaper p{
 font-size: 1.2rem;
 text-indent: 24px;
}

.questionpaper li{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color:#eee;
}

.selected{
    background-color: blue;
    border: 2px solid black;
}
