

#cover {
  display: flex;
  align-items: center;
  gap : 20px;
  width: 100%;
  min-height: 575px;
  background-color: #0d084d;
  color: white;
  box-sizing: border-box;
}

#cover div{
  flex: 50%;
}

.cover-title{
  padding: 50px 10px;
}

.cover-title h2{
  
  font-size: 4.4rem;
}

.cover-image{
  text-align: center;
}
.cover-image img{
  width: 550px;
  height: auto;
}
